* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

.separador {
    width: 100%;
    background: linear-gradient(90deg, transparent 10%, $color-resaltador, transparent 90%);
    height: 2px;
}

body{
    background-image: url(../Media/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

main {
    /* background-image: url(../Media/background.jpg);
    background-attachment: fixed;
    background-size: cover; */
    padding: 30px 0px;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: $fuente-titulo;
    font-size: $h1;
    margin-bottom: 30px;

    animation: backInLeft;
    animation-duration: 1s;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: $h2;
}

p {
    margin: 30px 50px;
    padding: 10px;
    text-align: center;
    background: $gris;
    color: rgb(255, 255, 255);
    font-family: $fuente-texto;
    font-size: 1.5rem;
}

/* Media */
@media screen and (max-width:450px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1rem;
    }
}