@media screen and (max-width: 650px) {
    nav ul {
        justify-content: center;
        li {
            a {
            padding: 10px 15px;
            font-size: 12px;
            }
            i {
                padding-right: 5px;
            }
        }
    }
    
    .fraseban {
        font-size: 10px
    }
    
    .banner img {
        height: 90px;
    }
    
    .mapa {
        width: 90%;
    }
    
    .productos {
        width: 200px;
        flex-direction: column;
        margin: auto;
    }
    
    footer {
        font-size: 10px;
    }
    
    .gridmenu-tienda {
        margin: 30px 50px;
    }
    
    .griditem-tienda span {
        font-size: 20px;
    }
    
}

@media screen and (max-width:450px) {
    nav ul li{ 
        a {
            padding: 10px 10px;
            font-size: 10px;
        i {
            padding-right: 5px;
        }
    }
    
}   
    .fraseban {
        font-size: 7px;
    }
    
    .gridmenu-tienda {
        margin: 30px 30px;
    }
    
    .griditem-tienda span {
        font-size: 15px;
    }
}

@media screen and (max-width:360px) {
    .galeria img {
        width: 300px;
        height: 250px;
    }
    
    .banner img {
        height: 70px;
    }
    
    .fraseban {
        font-size: 6px;
    }
    
    .gridmenu-tienda {
        margin: 30px 10px;
    }
    
    footer {
        font-size: 8px;
    }
}