@font-face {
    font-family: republika;
    src: url(../fonts/REPUEXPI.ttf);
}

@font-face {
    font-family: dekers;
    src: url(../fonts/Dekers_Bold.ttf);
}

@font-face {
    font-family: aller_bd;
    src: url(../fonts/Aller_Bd.ttf);
}

//Variables
$color-principal: rgb(170, 0, 0);
$fuente-titulo: aller_bd;

//Mixins, extends  & maps
@import "_mix-ext-map.scss";

/* Cosas generales */
@import "_general.scss";

/* Header */
@import "_header.scss";

/* Inicio */
@import "_inicio.scss";

/* Rutinas */
@import "_rutinas.scss";

/* Tienda */
@import "_tienda.scss";

/* Contacto */
@import "_contacto.scss";

/* Footer */
@import "_footer.scss";

/* Media */
@import "_media.scss";