@font-face {
    font-family: republika;
    src: url(../fonts/REPUEXPI.ttf);
}

@font-face {
    font-family: dekers;
    src: url(../fonts/Dekers_Bold.ttf);
}

@font-face {
    font-family: aller_bd;
    src: url(../fonts/Aller_Bd.ttf);
}

@font-face {
    font-family: winter;
    src: url(../fonts/WinterthurCondensedOblique.ttf)
}

//Variables
$color-principal: #ba181b;
$color-resaltador: #fd0004;
$negro: #0b090a;
$gris: #161a1d;
$fuente-titulo: aller_bd;
$fuente-texto: winter;

//Mixins, extends  & maps
@import "_mix-ext-map.scss";

/* Cosas generales */
@import "_general.scss";

/* Header */
@import "_header.scss";

/* Inicio */
@import "_inicio.scss";

/* Horarios */
@import "_horarios.scss";

/* Tienda */
@import "_tienda.scss";

/* Contacto */
@import "_contacto.scss";

/* Footer */
@import "_footer.scss";