* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-tienda {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(3, 1fr);
    justify-content:center;
    align-items: center;
    justify-items: center;
    gap: 25px;
    padding:30px;
}

.precios {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: grey;
}

.precios a {
    text-decoration: none;
    padding: 0px 71px;
}

.compra {
    text-align: center;
    background: rgb(158, 0, 0);
    width: 100%;
}

.compra:hover {
    background: #d00;
}